In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv("../datasets/ncvoter_1001r_19c.csv")
dataset

,voter_id,voter_reg_num,name_prefix,first_name,middle_name,last_name,name_suffix,age,gender,race,ethnic,street_address,city,state,zip_code,full_phone_num,birth_place,register_date,download_month
0,0,990000454758,NaN,rodney,john,glockner,NaN,37,m,w,nl,1708 pembroke jones dr,wilmington,nc,28405,910 509 3864,nj,01/01/1930,2011-10
1,1,999000021841,NaN,sallie,wilkins,blanchard,NaN,111,f,w,nl,203 e main st,rose hill,nc,28458,910 289 3320,nc,01/01/1930,2011-12
2,2,999000027078,NaN,john,m,goodson,NaN,102,m,w,nl,496 white flash rd,mt olive,nc,28365,910 658 3413,nc,01/01/1930,2011-12
3,3,990002064270,NaN,glenda,ware,battle,NaN,56,f,b,nl,15360 pea bridge rd,laurinburg,nc,28352,NaN,NaN,10/01/1930,2011-10
4,4,990004004166,NaN,michele,koenig,bullock,NaN,53,f,w,nl,242 northwood dr,whiteville,nc,28472,NaN,pa,10/01/1930,2011-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,994,999000546314,NaN,edith,dixon,pender,NaN,97,f,w,nl,202 n seventh st,mebane,nc,27302,NaN,nc,10/26/1940,2011-12
996,995,999000560430,NaN,ruth,e,todd,NaN,95,f,w,nl,1309 jonestown rd,winston salem,nc,27103,NaN,nc,10/26/1940,2011-12
997,996,999000587730,NaN,james,wilson,dunn,NaN,98,m,w,nl,3639 spangenberg ave #4a,clemmons,nc,27012,NaN,nc,10/26/1940,2011-12
998,997,999000608537,NaN,josephine,smith,cox,NaN,97,f,w,nl,512 boundary st,haw river,nc,27258,578 0024,nc,10/26/1940,2011-12
999,998,999000618857,NaN,everett,mrs,james,NaN,94,f,w,nl,2263 w clemmonsville rd,winston salem,nc,27127,NaN,nc,10/26/1940,2011-12

In [5]:
df_shuffled = dataset.copy()
for column in df_shuffled.columns:
    df_shuffled[column] = np.random.permutation(df_shuffled[column])

df_shuffled

,voter_id,voter_reg_num,name_prefix,first_name,middle_name,last_name,name_suffix,age,gender,race,ethnic,street_address,city,state,zip_code,full_phone_num,birth_place,register_date,download_month
0,43,999000512421,NaN,louise,r,shutt,NaN,70,m,w,nl,4837 sapony creek dr,henrico,nc,28659,NaN,nc,05/06/1940,2011-10
1,481,990002445049,NaN,carl,t,mcrae,NaN,97,m,w,nl,5951 n nc hwy 62,winston salem,nc,27253,828 926 4197,nc,10/24/1940,2011-12
2,595,990003307474,NaN,joe,r,thompson,NaN,97,f,w,nl,1011 n church st,burlington,nc,27217,NaN,nc,05/11/1940,2011-10
3,88,999000508980,NaN,shelby,joe,craft,NaN,111,f,w,un,107 n main st,burlington,nc,27106,336 364 2454,nc,01/01/1936,2011-10
4,597,1230928,NaN,marianne,f,raynor,jr,97,m,w,nl,7376 belews creek rd,claremont,nc,27522,NaN,nc,01/01/1940,2011-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,574,6722520,NaN,broadie,c,lilley,NaN,75,f,w,nl,1987 hilton rd,burlington,nc,28532,NaN,nc,02/06/1937,2011-12
996,796,999000297993,NaN,goldie,d,transou,NaN,98,f,b,nl,188 hudson cajah mtn rd,williamston,nc,27127,336 506 2643,nc,05/09/1940,2011-12
997,620,990002280327,NaN,d,fenton,hurst,NaN,72,f,w,nl,3479 caratoke hwy,granite falls,nc,27040,NaN,nc,10/28/1931,2011-12
998,657,4676400,NaN,fannie,sharpe,parker,NaN,101,m,b,nl,4236 sabrina lake rd,siler city,nc,28466,NaN,mi,10/26/1938,2011-12
999,126,990000363950,NaN,frances,joseph,ingram,NaN,96,m,w,nl,2344 mcrae ave,lasker,nc,27284,000 0000,il,10/23/1940,2011-10

In [29]:
df_shuffled.to_csv("../datasets/ncvoter_linha.csv", quotechar="\"")